h1 {color: orangered;}
img {width: 400px;}
#thirdDiv {height: 600px; width: 500px;}
#thirdDiv {background-color:bisque;}
#thirdDiv {padding: 50px; border: 3px dotted goldenrod;}
#thirdDiv {position: relative; align-items: center;}
#spanId {font-size: 18px; margin: 50px;}
div {text-align: center;}